.awards-container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  }
  
  .awards-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 2000px;
  height: auto;
  
  .awards-booking,
  .awards-trip {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  }
  }
  
  @media screen and (max-width: 1170px) {
  .awards-container {
  margin: 50px 0;
  height: 400px;
  }
  
  .awards-icons {
  height: 100%;
  .awards-booking,
.awards-trip {
  height: 100%;
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

}
}

@media screen and (max-width: 700px) {
.awards-container {
height: 300px;
}

.awards-icons {
height: 100%;
.awards-booking,
.awards-trip {
  height: 100%;
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
}
}