@font-face {
  font-family: 'Nineteenth';
  src: url('../fonts/Nineteenth.woff2') format('woff2'),
  url('../fonts/Nineteenth.woff') format('woff');
}
.text-container{
  font-family: Nineteenth;
  color: white;

  h2{
    text-align: center;
    font-size: 3.5em;
  }
  ul{
    font-size: 1.3em;
    line-height: 2em;
  }
}
@media screen and (max-width: 1170px){
  .text-container{
    h2{
      font-size:2.5em;
    }
    ul{
      font-size: 1em;
      line-height: 1.5em;
    }
}
}
@media screen and (max-width: 700px){
  .text-container{
    h2{
      font-size:2em;
    }
    ul{
      font-size: 1em;
      line-height: 1.1em;
    }
}
}
