@font-face {
  font-family: 'Nineteenth';
  src: url('../fonts/Nineteenth.woff2') format('woff2'),
  url('../fonts/Nineteenth.woff') format('woff');
}

.slogan-crusoe_container{
  width:100%;
  height: 155px;
  background: #0C0C0C;
}
.slogan-crusoe_texts{
  font-family: Nineteenth;
  padding: 20px 20px;
  text-align: center;
  h3{
    text-transform: uppercase;
    color: #B4813E;
    text-shadow: 7px 2px 5px rgba(168,158,32,0.8);
  }
  p{
    color:#686868;
  }
}